.App {
  font-family: sans-serif;
  text-align: center;
  min-width: 50%;
  max-width: 40em;
  border: 1px solid black;
  border-radius: 1em;
  margin: 5em auto;
  padding: 1em;
  text-align: center;
}
h1 {
  color: black;
}

#getLocationTemp {
  margin: 1em 0;
}

.active,
.active:hover {
  text-decoration: none;
  color: black;
}

#forecast {
  margin: 2em auto;
}

.weather-forecast-temperature-max,
.weather-forecast-temperature-min {
  font-size: 10px;
}

.row {
  display: flex;
}

.col-sm-6 {
  width: 40%;
}
